[MESSAGES CONTROL]
# C0111: missing-docstring
# R0903: too-few-public-methods
# W1203: logging-fstring-interpolation
# E0611: no-name-in-module
# E0401: import-error
# R0913: too-many-arguments
# R0902: too-many-instance-attributes
# R0801: duplicate-code
# C0330:Wrong hanging indentation before block
disable=C0111, R0903, W1203, E0611, E0401, R0913, R0902, C0330
max-line-length=120
ignored-modules=sqlalchemy
