[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==4.4.0"
pylint = "==2.3.1"
flake8 = "==3.7.8"
black = "==19.3b0"
python-dotenv = "==0.10.3"
requests = "==2.22.0"
psycopg2-binary = "==2.8.3"
Flask = "==1.1.1"
flask-restful = "==0.3.7"
flask-httpauth = "==3.3.0"
flask-socketio = "==4.2.1"
flask-sqlalchemy = "==2.4.1"
flask-marshmallow = "==0.10.1"
marshmallow = "==2.19.5"
marshmallow-sqlalchemy = "==0.19.0"
flask-migrate = "==2.5.2"
itsdangerous = "==1.1.0"
loguru = "==0.4.1"
pytz = "==2019.3"
pre-commit = "==2.5.1"
commitizen = "==1.23.0"

[packages]
requests = "==2.22.0"
python-dotenv = "==0.10.3"
psycopg2-binary = "==2.8.3"
pyota = "==2.0.9"
authlib = "==0.12.1"
loginpass = "==0.4"
pycryptodomex = "==3.9.0"
Flask = "==1.1.1"
flask-script = "==2.0.6"
flask-restful = "==0.3.7"
flask-httpauth = "==3.3.0"
flask-socketio = "==4.2.1"
flask-sqlalchemy = "==2.4.1"
flask-marshmallow = "==0.10.1"
marshmallow = "==2.19.5"
marshmallow-sqlalchemy = "==0.19.0"
pyota-ccurl = "==1.0.9"
loguru = "==0.4.1"
pytz = "==2019.3"
flask-cors = "==3.0.8"
web3 = "==5.9.0"

[requires]
python_version = "3.6"
