-i https://pypi.org/simple
aniso8601==8.0.0
authlib==0.12.1
certifi==2019.9.11
cffi==1.13.1
chardet==3.0.4
click==7.0
cryptography==2.8
flask-httpauth==3.3.0
flask-marshmallow==0.10.1
flask-restful==0.3.7
flask-socketio==4.2.1
flask-sqlalchemy==2.4.1
flask==1.1.1
idna==2.8
itsdangerous==1.1.0
jinja2==2.10.3
loginpass==0.4
markupsafe==1.1.1
marshmallow-sqlalchemy==0.19.0
marshmallow==2.19.5
phx-class-registry==3.0.5
phx-filters==2.0.2 ; python_version >= '3.5'
psycopg2-binary==2.8.3
pycparser==2.19
pycryptodomex==3.9.0
pyopenssl==19.0.0
pyota-ccurl==1.0.9
pyota==2.0.9
pysha3==1.0.2
python-dateutil==2.8.0
python-dotenv==0.10.3
python-engineio==3.10.0
python-socketio==4.3.1
pytz==2019.3
regex==2019.8.19
requests[security]==2.22.0
six==1.12.0
sqlalchemy==1.3.10
urllib3==1.25.6
werkzeug==0.16.0
